p {
  margin: 10px;
}

body {
  background-color: #f7f7f7;
  font-family: "Quicksand", sans-serif;
  color: #484f4f;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: rgb(163, 57, 57);
}

canvas {
  position: relative;
  bottom: 5px;
}

footer {
  font-size: 14px;
  margin-top: 10px;
}

.card {
  background-image: url("cityscape.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 2px 0 rgba(26, 26, 26, 0.16),
    0 0 0 1px rgba(31, 31, 31, 0.08);
}

.container {
  max-width: 800px;
  margin-top: 0 auto;
  padding: 60px 20px;
}

.city {
  margin-left: 48px;
  margin-top: 50px;
}

.current-temperature {
  font-size: 60px;
  position: relative;
  bottom: 15px;
  left: 5px;
}

.current-weather {
  font-size: 18px;
  display: block;
}

.current-weather::first-letter {
  text-transform: uppercase;
}

.fas {
  font-size: 40px;
  color: #222831;
}

.fa-map-pin {
  font-size: 25px;
}

.humidity-wind {
  margin-left: 60px;
  margin-top: 80px;
}

.loader {
  position: absolute;
  top: 40%;
  left: 45%;
}

.today {
  position: relative;
  top: -30px;
  left: 40px;
  margin: 10px;
}

.units {
  position: relative;
  bottom: 45px;
  left: 5px;
}

.units .active {
  cursor: default;
}